
footer {
  background: url('../../hinh/nenfooter.jpg') no-repeat top center;
  }


  .icon-social{
  text-align: center;
  }

  .icon-social a i {
  color: #ffff;
  }

  .hinh_congty {
  text-align: center;
  padding-bottom: 20px;
  }

  .icon-social   a {
  border-radius: 40%;
  }
  .thongtindoanhnghiep p {
  color: #ffff;
  font-weight: bolder;

  }
